<ion-header>
  <ion-navbar>
    <ion-title>DataBase</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label fixed>Event</ion-label>
      <ion-input type="text" [(ngModel)]="Nom"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Prenom</ion-label>
      <ion-input type="text" [(ngModel)]="Prenom"></ion-input>
    </ion-item>
  </ion-list>

  <!-- <ion-list *ngIf="Event" >
    <ion-item *ngFor="DataBase" >
      <ion-label fixed >
        {{  firstname }}
      </ion-label>
    </ion-item>
  
  </ion-list> -->



  <button ion-button clear (tap)="retrieveEvent()">tape tape</button>

</ion-content>